<article class="card">
  <div class="entry-header">
    <a href="/post/{{id}}">
    <h2 class="card-name">
      {{title}}
    </h2>
   </a>
  <div class="meta">
    <div>
      Posted by {{user.username}} on {{format_date created_at}}
    </div>
    <div>
      <a href="/post{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
  </div>
  <div>
    {{post_content}}
  </div>
</article>