<a href="/dashboard"> &larr; Back to dashboard</a>

<article>
  <div class="card">
    <div class="card-header">
      <h2 class="card-name">
        Edit Post
      </h2>
      <div class="card-meta">
        <div>
          Created by {{post.user.username}} on {{format_date post.created_at}}
        </div>
        <div>
          <a href="/post{{id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}} </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
  <form class="edit-post-form">
    <div>
      <label for="post-title">Title</label>
      <input id="edit-title" name="post-title" type="text" value="{{post.title}}"/>
      <label id="edit-content" for="post-content">Content of post</label>
      <textarea name="post-content">{{post.post_content}}</textarea>
    </div>
      <button type="submit">Update the post</button>
      <button type="button" class="post-btn-del">Delete the post</button>
    <div>
        <button type="submit">Save changes to post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
      </form>
    </div>
  </div>
</article>

<form class="comment-form">
  <div>
    <textarea id="comment-body" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>